{% extends 'base.html.twig' %}
{% block body %}
    <div class="container my-5">
        <h1>{{ category.name }}</h1>
        <p>Cette catégorie contient {{ category.products|length }} Produit(s).</p>
        <div class="row">
            {% for product in category.products %}
                <div class="col-md-3 text-center">
                    <a class="text-decoration-none" href="{{ path('app_product', { 'slug': product.slug }) }}">
                        <img class="img-fluid" src="/uploads/{{ product.illustration }}" alt="{{ product.name }}">
                        <span class="d-block fw-bold text-black">{{ product.name }}</span>
                    </a>
                    <span class="d-block">{{ product.PriceWT|price }}</span>
                    <!-- <span class="d-block">{{ product.PriceWT|number_format(2, ',') }}€</span> -->
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
